body, h1, h2, h3, p, ol, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #fff;
}

#container {
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Added property */
}

/* Navbar styles */
nav {
    background-color: #292929;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #555;
    height: 95%;
}

/* Header styles */
#header {
    background-color: #1a1a1a;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Schooling, hobbies, and bio styles */
#schooling, 
#hobbies, 
#bio{
    background-color: #292929;
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#schooling h2, 
#hobbies h2, 
#bio h2{
    color: #fff;
    margin-bottom: 20px;
}

#schooling ol {
    list-style-type: decimal;
    text-align: center;
    padding-left: 0; /* added this so the bullets / numbers would align in center with text */
}

#hobbies ul {
    list-style-type:georgian; /* just experimenting with different list styles */
    text-align: center;
    padding-left: 0;
}

#schooling li, 
#hobbies li, 
#bio li {
    margin-bottom: 15px;
    text-align: center;
    list-style-position: inside; /* added this so the bullets / numbers would align in center wityh text */
}

#schooling img,
#hobbies img, 
#bio img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 8px 10px 10px 0;
    aspect-ratio: 16/9;
    object-fit: cover; /* added this so the images wouldnt stretch */
}

#hobbies a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

#hobbies a:hover {
    color: #c7c7c7;
    text-decoration: underline;
}

#container {
    text-align: center;
}

/* Footer styles */
#footer {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #363636;
    width: 97%;
}

#footer a:hover {
    background-color: #777;
}

#container {
    width: 95%;
    margin: 0 auto;
}

