.main-header {
    border: 2px solid rgb(201, 27, 163);
    
}
.main-header  h1 {
    margin-left: 15px;
}

.main-body {
    border: 2px solid rgb(32, 146, 42);
    margin-top: 35px;
}
.main-body p1 {
    margin-left: 15px;
}